{% extends "layout.html" %}

{% block content %}
        <!-- Showcase -->
        <section class="showcase text-light p-2 text-center">
            <!-- headerBG = custom CSS BG color, p-2 = padding 2 -->
            <div class="container">
                <div class="row p-0 d-flex align-items-center">
                    <div class="col-md-8">
                        <div class="container">
                            <h1 class="display-4">
                                <a href="https://docs.google.com/document/d/17K_A7th0uUFyd6BWmjaGe8-5WXLWkB-Ahz5ecTh5TRM/edit?usp=sharing" target="_blank" class="custom-link">
                                    The Effect of Varying Tennis Ball Pressures on Wrist Injury
                                </a>
                            </h1>
                            <!-- display-4 makes the h1 stand out-->
                            <h3>Authors: Audrey Wang, Craig Queenan</h3>
                        </div>
                    </div>
                    <div class = "col-md-4"> 
                        <img class = "overview-image img-fluid" src = "{{url_for('static', filename='/img/tennis.jpeg')}}" alt = "Overview Image" >
                    </div>
                </div>
            </div>

        </section>

        <!-- overview -->
        <section class="overview text-dark p-2 text-left">
            <div class="container">
                <div class="row border-row">
                    <div class="col-sm-5 p-3">
                        <img class="img-fluid index-img" src="{{url_for('static', filename='/img/vibration-dampener.png')}}" alt="Vibration Dampener">
                    </div>
                    <div class="col-sm-7 p-3">
                        <h1 class="ovPadLeft">Background</h1>
                        <p class="lead overview-font ovPadLeft" id="">
                            <ul class = "index-text">
                                <li>
                                    For tennis players, the wrist and forearm are under heavy stress.
                                </li>
                                <br>
                                <li>
                                    Recently, professional tennis players have been advocating for a more consistent tennis ball.
                                </li>
                                <br>
                                <li>
                                    Between different tennis ball brands, there are subtle changes in material, mass, and air pressure, all of which can cause injury.
                                </li>
                                
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="row border-row">
                    <div class="col-sm-7 p-3">
                        <h1 class="ovPadLeft">Rationale</h1>
                        <p class="lead overview-font ovPadLeft" id="">
                            <ul class = "index-text">
                                <li>
                                    Little prior research has been conducted on the impact of tennis ball pressure and injury.
                                </li>
                                <br>
                                <li>
                                    Studies on the vibration dampener have been conflicting, so more data needs to be collected on the device's effectiveness.
                                    
                                </li>
                                <br>
                                <li>
                                        This study aims to examine the change in air pressure of the tennis ball and the effectiveness of injury prevention devices through the coefficient of restitution (COR).
                                    </li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-sm-5 p-3">
                        <img class="img-fluid index-img" src="{{url_for('static', filename='/img/wrist-injury.png')}}" alt="Wrist Injury">
                    </div>
                </div>
                <div class="row border-row">
                    <div class="col-sm-5 p-3">
                        <img class="img-fluid index-img" src="{{url_for('static', filename='/img/graph.png')}}" alt="Grpah of Results">
                    </div>
                    <div class="col-sm-7 p-3">
                        <h1 class="ovPadLeft">Results</h1>
                        <p class="lead overview-font ovPadLeft" id="">
                            <ul class = "index-text">
                                <li>
                                    The results indicated a significant difference of the COR between the new and dead balls.
                                </li>
                                <br>
                                <li>
                                    The new balls had a higher COR, indicating greater variability in ball pressure and increase in injury liklihood.
                                    
                                </li>
                                <br>
                                <li>
                                        Unexpected results were obtained for one of the conditions with the vibration dampener, so more data is necessary for an accurate conclusion.
                                    </li>
                            </ul>
                        </p>
                    </div>

                </div>
            </div>

        </section>

{% endblock content %}
